<!DOCTYPE html>
<html>
  <head>
    <title><%=  meta[:title] %></title>
  </head>
  <body class="<%= page_class %>">

    <div class="main-container">
      <%= yield_content :main %>
    </div>

    <%= yield_content %>

    <footer>
      <%= yield_content :footer %>
    </footer>
  </body>
</html>
