<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= meta[:title] %></title>
    <link href="/assets/styles.css" rel="stylesheet">
    <script src="/assets/mode-toggle.js"></script>
  </head>
  <body class="page <%= page_class %>">
    <div class="main-content">
      <nav class="navbar">
        <a href="/" class="navbar__home">
          <%= inline_svg 'icons/home', class_name: 'navbar__icon' %>
        </a>

        <div class="navbar__actions">
          <a id="mode-toggle" class="mode" href="#">
            <%= inline_svg 'icons/sun-outlined', class_name: 'navbar__icon mode__light-toggle' %>
            <%= inline_svg 'icons/sun-filled', class_name: 'navbar__icon mode__dark-toggle' %>
          </a>
        </div>
      </nav>

      <%= yield_content :main %>
    </div>

    <%= yield_content %>
  </body>
</html>
