<% layout 'default', page_class: 'page--post' do %>
  <% yield_content :main do %>
    <header class="header">
      <div class="header__content">
        <h1 class="header__title"><%= meta[:title] %></h1>
        <p class="header__summary"><%= meta[:desc] %></p>
        <div class="post-info">
          <div class="post-info__date"><%= meta[:date].strftime("%B %d, %Y") %></div>
          <div class="post-info__separator"></div>
          <div class="post-info__readtime"><%= meta[:reading_time] %></div>
        </div>
      </div>
    </header>

    <main class="post-content">
      <%= content %>
    </main>
  <% end %>

  <div class="sidebar">
    <div class="sidebar__content">
      <img src="<%= site.author[:image_url] %>" alt="<%= site.author[:short_name] %>" class="sidebar__image">
      <div class="sidebar__author"><%= site.author[:name] %></div>
      <div class="sidebar__bio"><%= site.bio[:short_version] %></div>
      <div class="sidebar__social">
        <a href="<%= site.author[:github_url] %>">GitHub</a>
      </div>
    </div>
  </div>
<% end %>
