<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= meta[:title] %></title>
    <link href="/assets/styles.css" rel="stylesheet">
  </head>
  <body class="page page--post">
    <header class="header">
      <div class="header__content">
        <a href="/" class="header__backlink">← Back to home</a>
        <h1 class="header__title"><%= meta[:title] %></h1>
        <p class="header__summary"><%= meta[:desc] %></p>
        <div class="header__date"><%= meta[:date].strftime("%B %d, %Y") %></div>
      </div>
    </header>

    <main class="post-content">
      <%= content %>
    </main>
  </body>
</html>
